.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--light-color);
}

.cards .cards-card-body {
  padding: 15px;
  background-color: var(--light-color);
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  object-fit: cover;
}

.cards > ul > li:hover {
  position: relative;
}

.cards > ul > li:hover .cards-card-body {
  position: absolute;
  top:0;
}

.cards > ul > li:hover .cards-card-body h4 {
  color: var(--orange);
  text-decoration: underline 2px;
  text-underline-offset: 4px;
}