.tabs-container {
  background-color: var(--light-color);
}

.tabs-container .default-content-wrapper {
  padding: 40px 0;
}

.tabs {
  display: grid;
  grid-template-columns: 25% auto;
  gap: 30px;
}

.tabs-header {
  display: flex;
  flex-direction: column;
}

.tabs-header .tab-btn {
  margin: 1px 0;
  background-color: transparent;
  color: var(--text-color);
  text-align: left;
}

.tabs-header .tab-btn:hover {
  background-color: var(--grey200);
}

.tabs-header .tab-btn.active {
  background-color: var(--orange);
  color: var(--background-color);
} 

.tab-panel h3 {
  margin-top: 0;
}